In [10]:
import pandas as pd

In [11]:
dic_rubrica_detalhada = {'data':[],
                         'rubrica':[],
                         'valor':[]}

In [12]:
dic_rubrica_detalhada

{'data': [], 'rubrica': [], 'valor': []}

In [13]:
rubrica_detalhada = pd.DataFrame(dic_rubrica_detalhada)
rubrica_detalhada

Empty DataFrame
Columns: [data, rubrica, valor]
Index: []

In [14]:
type(rubrica_detalhada)

pandas.core.frame.DataFrame

In [15]:
lista = ['04/11/2020', 'gas', 15]
lista

['04/11/2020', 'gas', 15]

In [16]:
rubrica_detalhada.loc[0] = lista
rubrica_detalhada

         data rubrica  valor
0  04/11/2020     gas   15.0

In [19]:
rubrica_detalhada.loc[len(rubrica_detalhada)] = lista
rubrica_detalhada

         data rubrica  valor
0  04/11/2020     gas   15.0
1  04/11/2020     gas   15.0