In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('E:\\Google Drive\\PROGRAMAÇÃO\\curso-python\\curso-leandroguerra\\base de dados\\clientes-brutal.xlsx')
df.head()

,Cód. Pedido,Cliente,Colaborador,Tipo,Aberto Em,Finalizado Em,+ Serviço,+ Entrega,= Total a Receber,Status,Abrir
0,4026,Alice Amaral,Victor,Delivery,2020-09-29 20:24:02.935,NaT,0.0,5.0,61.5,Em Aberto,NaN
1,4025,Bruno Bruce,Victor,Delivery,2020-09-29 20:05:20.595,NaT,0.0,3.0,133.0,Em Aberto,NaN
2,4024,Carlos Rodrigues de Matos,Victor,Delivery,2020-09-29 19:22:18.222,2020-09-29 19:59:48.165,0.0,5.0,70.0,Finalizado/Pago,NaN
3,4023,Ramon Oliveira,Victor,Delivery,2020-09-29 18:53:34.582,2020-09-29 19:14:30.067,0.0,0.0,73.0,Finalizado/Pago,NaN
4,4022,Gabriel Mateus,Lucian,Delivery,2020-09-27 22:57:10.687,2020-09-27 23:32:40.083,0.0,5.0,60.0,Finalizado/Pago,NaN

In [3]:
df.columns

Index(['Cód. Pedido', 'Cliente', 'Colaborador ', 'Tipo', 'Aberto Em',
       'Finalizado Em', '+ Serviço', '+ Entrega', '= Total a Receber',
       'Status', 'Abrir'],
      dtype='object')

In [5]:
df.drop(columns=['Colaborador ', 'Tipo', '+ Serviço', 'Finalizado Em', '+ Entrega', '= Total a Receber', 'Status', 'Abrir'], inplace=True)
df.head()

   Cód. Pedido                    Cliente               Aberto Em
0         4026              Alice Amaral  2020-09-29 20:24:02.935
1         4025                Bruno Bruce 2020-09-29 20:05:20.595
2         4024  Carlos Rodrigues de Matos 2020-09-29 19:22:18.222
3         4023             Ramon Oliveira 2020-09-29 18:53:34.582
4         4022             Gabriel Mateus 2020-09-27 22:57:10.687

In [9]:
teste = df['Cliente'].value_counts() == 1
teste

Andre Augusto, o lindo               False
LUCIAN FERRAZ DE ARAUJO BONIFACIO    False
Victor Bonifácio                     False
Jefferson patriota deep web          False
Heber Bonifácio                      False
                                     ...
Nathalia Fernandes de Paula           True
Fernanda Amaral Melo                  True
Angelita Brito Sena                   True
Joanna Lacerda                        True
Açucena  Lima                         True
Name: Cliente, Length: 853, dtype: bool

In [31]:
testeTrue = teste[teste] == True
testeTrue

Camila Batista da Silva Marinho       True
Nathália Cristina de Sampaio Alves    True
Heide Bonifácio                       True
Denis Roger Faria IFOOD               True
Edslanny Barreto                      True
                                      ...
Nathalia Fernandes de Paula           True
Fernanda Amaral Melo                  True
Angelita Brito Sena                   True
Joanna Lacerda                        True
Açucena  Lima                         True
Name: Cliente, Length: 414, dtype: bool

In [29]:
teste.shape

(853,)

In [32]:
testeTrue.shape

(414,)

In [33]:
df.head()

   Cód. Pedido                    Cliente               Aberto Em teste
0         4026              Alice Amaral  2020-09-29 20:24:02.935   NaN
1         4025                Bruno Bruce 2020-09-29 20:05:20.595   NaN
2         4024  Carlos Rodrigues de Matos 2020-09-29 19:22:18.222   NaN
3         4023             Ramon Oliveira 2020-09-29 18:53:34.582   NaN
4         4022             Gabriel Mateus 2020-09-27 22:57:10.687   NaN