In [2]:
import pandas as pd

# CRIANDO DATAFRAME

## Criando com um DICION√ÅRIO

In [7]:
dicionario = {
    'nome': ['Lucian', 'Mariana', 'Pamela', 'Ana'],
    'idade': [31, 5, 28, 3],
    'sexo': ['M', 'F', 'F', 'F'],
}

df_dicionario = pd.DataFrame(dicionario)

In [8]:
df_dicionario

      nome  idade sexo
0   Lucian     31    M
1  Mariana      5    F
2   Pamela     28    F
3      Ana      3    F

# INSERINDO LINHA/REGISTRO DO DATAFRAME COM `DataFrame.loc[ ]`