## Motivaçao

- Funçoes descritivas
- Agrupamento com o Group By
- Filtrando dados com o Group By
- Método aggregate
- Método transform

_______________________________________

In [3]:
# Importando a Biblioteca

import pandas as pd

In [4]:
# Configurando o ambiente de trabalho

# Mostra qual é o diretorio de trabalho atual
#import os

# Muda o diretorio de trabalho
#os.chdir("C:\\Users\\engle\\OM Na Pratica\\Python\\Bases de Dados")

In [5]:
# Carregando nossa base de dados

# Facebook Metrics - The data is related to posts' published during the year of 2014 on the Facebook's page 
# of a renowned cosmetics brand.

facebook = pd.read_csv("E:\\Google Drive\\PROGRAMAÇÃO\\curso-python\\curso-leandroguerra\\base de dados\\dataset_Facebook.csv", sep = ";")

In [6]:
facebook.head(5)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
facebook["Type"]

0       Photo
1      Status
2       Photo
3       Photo
4       Photo
        ...
495     Photo
496     Photo
497     Photo
498     Photo
499     Photo
Name: Type, Length: 500, dtype: object

_______________________________________

#### Funçoes descritivas no Pandas

In [8]:
# Faz a contagem dos itens separados por colunas (variáveis)
# Considera apenas valores que não sejam "missing values"
facebook.count()

Page total likes                                                       500
Type                                                                   500
Category                                                               500
Post Month                                                             500
Post Weekday                                                           500
Post Hour                                                              500
Paid                                                                   499
Lifetime Post Total Reach                                              500
Lifetime Post Total Impressions                                        500
Lifetime Engaged Users                                                 500
Lifetime Post Consumers                                                500
Lifetime Post Consumptions                                             500
Lifetime Post Impressions by people who have liked your Page           500
Lifetime Post reach by people who like your Page                       500
Lifetime People who have liked your Page and engaged with your post    500
comment                                                                500
like                                                                   499
share                                                                  496
Total Interactions                                                     500
dtype: int64

In [9]:
# Calcula a média de todas as colunas.
# se os valores da coluna forem "strings"(ou categóricas), são ignorados.
facebook.mean()

Page total likes                                                       123194.176000
Category                                                                    1.880000
Post Month                                                                  7.038000
Post Weekday                                                                4.150000
Post Hour                                                                   7.840000
Paid                                                                        0.278557
Lifetime Post Total Reach                                               13903.360000
Lifetime Post Total Impressions                                         29585.948000
Lifetime Engaged Users                                                    920.344000
Lifetime Post Consumers                                                   798.772000
Lifetime Post Consumptions                                               1415.130000
Lifetime Post Impressions by people who have liked your Page            16766.376000
Lifetime Post reach by people who like your Page                         6585.488000
Lifetime People who have liked your Page and engaged with your post       609.986000
comment                                                                     7.482000
like                                                                      177.945892
share                                                                      27.266129
Total Interactions                                                        212.120000
dtype: float64

In [10]:
#
facebook.median()

Page total likes                                                       129600.0
Category                                                                    2.0
Post Month                                                                  7.0
Post Weekday                                                                4.0
Post Hour                                                                   9.0
Paid                                                                        0.0
Lifetime Post Total Reach                                                5281.0
Lifetime Post Total Impressions                                          9051.0
Lifetime Engaged Users                                                    625.5
Lifetime Post Consumers                                                   551.5
Lifetime Post Consumptions                                                851.0
Lifetime Post Impressions by people who have liked your Page             6255.5
Lifetime Post reach by people who like your Page                         3417.0
Lifetime People who have liked your Page and engaged with your post       412.0
comment                                                                     3.0
like                                                                      101.0
share                                                                      19.0
Total Interactions                                                        123.5
dtype: float64

In [11]:
facebook.min()

Page total likes                                                       81370
Type                                                                    Link
Category                                                                   1
Post Month                                                                 1
Post Weekday                                                               1
Post Hour                                                                  1
Paid                                                                       0
Lifetime Post Total Reach                                                238
Lifetime Post Total Impressions                                          570
Lifetime Engaged Users                                                     9
Lifetime Post Consumers                                                    9
Lifetime Post Consumptions                                                 9
Lifetime Post Impressions by people who have liked your Page             567
Lifetime Post reach by people who like your Page                         236
Lifetime People who have liked your Page and engaged with your post        9
comment                                                                    0
like                                                                       0
share                                                                      0
Total Interactions                                                         0
dtype: object

In [12]:
facebook.max()

Page total likes                                                        139441
Type                                                                     Video
Category                                                                     3
Post Month                                                                  12
Post Weekday                                                                 7
Post Hour                                                                   23
Paid                                                                         1
Lifetime Post Total Reach                                               180480
Lifetime Post Total Impressions                                        1110282
Lifetime Engaged Users                                                   11452
Lifetime Post Consumers                                                  11328
Lifetime Post Consumptions                                               19779
Lifetime Post Impressions by people who have liked your Page           1107833
Lifetime Post reach by people who like your Page                         51456
Lifetime People who have liked your Page and engaged with your post       4376
comment                                                                    372
like                                                                      5172
share                                                                      790
Total Interactions                                                        6334
dtype: object

In [13]:
# Desvio Padrão
facebook.std()

Page total likes                                                       16272.813214
Category                                                                   0.852675
Post Month                                                                 3.307936
Post Weekday                                                               2.030701
Post Hour                                                                  4.368589
Paid                                                                       0.448739
Lifetime Post Total Reach                                              22740.787890
Lifetime Post Total Impressions                                        76803.246670
Lifetime Engaged Users                                                   985.016636
Lifetime Post Consumers                                                  882.505013
Lifetime Post Consumptions                                              2000.594118
Lifetime Post Impressions by people who have liked your Page           59791.023731
Lifetime Post reach by people who like your Page                        7682.009405
Lifetime People who have liked your Page and engaged with your post      612.725618
comment                                                                   21.180910
like                                                                     323.398742
share                                                                     42.613292
Total Interactions                                                       380.233118
dtype: float64

In [14]:
# Variancia
facebook.var()

Page total likes                                                       2.648044e+08
Category                                                               7.270541e-01
Post Month                                                             1.094244e+01
Post Weekday                                                           4.123747e+00
Post Hour                                                              1.908457e+01
Paid                                                                   2.013666e-01
Lifetime Post Total Reach                                              5.171434e+08
Lifetime Post Total Impressions                                        5.898739e+09
Lifetime Engaged Users                                                 9.702578e+05
Lifetime Post Consumers                                                7.788151e+05
Lifetime Post Consumptions                                             4.002377e+06
Lifetime Post Impressions by people who have liked your Page           3.574967e+09
Lifetime Post reach by people who like your Page                       5.901327e+07
Lifetime People who have liked your Page and engaged with your post    3.754327e+05
comment                                                                4.486309e+02
like                                                                   1.045867e+05
share                                                                  1.815893e+03
Total Interactions                                                     1.445772e+05
dtype: float64

In [15]:
facebook.sum()

# Para variàveis categoricas nao farà sentido

Page total likes                                                                                                61597088
Type                                                                   PhotoStatusPhotoPhotoPhotoStatusPhotoPhotoStat...
Category                                                                                                             940
Post Month                                                                                                          3519
Post Weekday                                                                                                        2075
Post Hour                                                                                                           3920
Paid                                                                                                                 139
Lifetime Post Total Reach                                                                                        6951680
Lifetime Post Total Impressions                                                                                 14792974
Lifetime Engaged Users                                                                                            460172
Lifetime Post Consumers                                                                                           399386
Lifetime Post Consumptions                                                                                        707565
Lifetime Post Impressions by people who have liked your Page                                                     8383188
Lifetime Post reach by people who like your Page                                                                 3292744
Lifetime People who have liked your Page and engaged with your post                                               304993
comment                                                                                                             3741
like                                                                                                               88795
share                                                                                                              13524
Total Interactions                                                                                                106060
dtype: object

In [16]:
# Obviamente, todas a funçoes acima servem para uma unica coluna
facebook["Category"].std()

0.8526746790050889

In [17]:
# Posso retornar um novo dataframe baseado em uma condição lógica que eu desejar.
# Estou entendendo que dentro dos colchetes - DataFrame[]- é uma área que posso fazer o filtro que desejar. Qualquer tipo. 
facebook[facebook['Category'] > facebook['Category'].std()]

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [18]:
# Também ignora as categóricas
facebook.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

_______________________________________

### Agrupamento com group by

In [19]:
# Vamos supor que precisemos saber a média de cada variaveis, dependendo do tipo de post na base do Facebook

facebook.groupby("Type").mean()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,116363.181818,1.136364,6.590909,4.272727,5.727273,0.272727,18544.590909,28725.454545,342.818182,292.681818,374.090909,11148.590909,6544.363636,210.545455,2.818182,73.318182,12.909091,89.045455
Photo,122354.171362,1.917840,6.805164,4.107981,7.997653,0.280000,13137.814554,28994.497653,818.946009,690.431925,1299.025822,16422.483568,6059.103286,507.305164,7.492958,182.611765,27.158768,216.579812
Status,132647.044444,2.022222,9.066667,4.577778,7.244444,0.222222,13078.888889,24244.466667,2040.222222,1949.555556,2838.866667,18664.266667,9908.577778,1719.844444,8.911111,176.711111,31.422222,217.044444
Video,135014.857143,1.000000,9.571429,3.571429,8.714286,0.571429,51205.714286,102622.428571,1707.000000,1584.714286,2600.142857,43149.857143,17386.285714,979.428571,12.285714,231.428571,52.142857,295.857143

In [20]:
# Ou o valor maximo de cada variavel agrupado por hora do post
facebook.groupby("Post Hour").max()

,Page total likes,Type,Category,Post Month,Post Weekday,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Post Hour,,,,,,,,,,,,,,,,,,
1,135713,Photo,3,10,5,0.0,5568,10282,746,597,867,5696,3162,537,13,319.0,55.0,387
2,138895,Video,3,12,7,1.0,153536,497910,11452,11328,18115,57722,34368,4376,60,859.0,90.0,1009
3,139441,Video,3,12,7,1.0,109056,229733,2889,2570,14974,92348,34880,2256,64,1505.0,123.0,1626
4,137059,Status,3,11,7,1.0,70144,112830,3216,2628,4782,70249,21328,1834,47,955.0,139.0,1136
5,138414,Photo,3,12,7,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
6,136393,Status,3,10,7,1.0,70912,94172,2573,2448,6017,42338,27232,1905,9,484.0,79.0,572
7,136393,Status,3,10,7,1.0,49632,1110282,1653,1480,3214,1107833,48368,1513,7,400.0,38.0,429
8,136736,Photo,3,10,7,1.0,9880,12695,625,561,869,7072,4732,497,12,188.0,38.0,217
9,139441,Status,3,12,7,1.0,71360,110172,5352,5202,19779,47977,25888,4104,11,363.0,43.0,409
10,139441,Video,3,12,7,1.0,122944,457509,4840,4754,12074,122474,37408,4318,144,1622.0,208.0,1974
11,138895,Video,3,12,7,1.0,45920,61262,3872,3822,7980,30131,14112,3014,56,412.0,99.0,515
12,138414,Status,3,12,7,1.0,58304,111785,2417,2327,3098,92512,39776,1839,103,678.0,58.0,713
13,136642,Video,3,10,7,1.0,158208,665792,4544,3682,9614,648611,47488,3430,146,1639.0,181.0,1873
14,131808,Status,3,7,7,1.0,128064,251269,3984,2781,3627,84046,32384,2602,51,1998.0,128.0,2177
15,115893,Status,3,4,7,1.0,9120,14759,951,937,3941,13246,8004,924,11,179.0,30.0,210
16,86909,Photo,3,1,6,1.0,5754,9238,1179,1143,1452,6101,3546,420,0,65.0,19.0,84
17,100732,Photo,1,3,7,0.0,11420,23855,1411,1342,11064,18310,8848,1086,12,213.0,14.0,237
18,102112,Photo,1,3,7,0.0,6400,11941,735,726,8415,10987,5916,628,8,109.0,6.0,120
19,102112,Photo,1,3,1,0.0,238,570,143,142,834,567,236,99,0,2.0,0.0,2
20,109670,Photo,3,4,6,0.0,5994,9970,964,838,1254,6896,3998,683,11,235.0,34.0,280
22,126141,Photo,1,6,4,1.0,20560,24112,936,860,1126,5648,3856,460,14,102.0,9.0,125
23,131630,Photo,3,7,2,0.0,2822,5058,424,351,486,3681,2020,327,2,113.0,20.0,135

In [21]:
# Mas pode ser que voce nao precise de todas as variaveis ao mesmo tempo...

# Vamos pegar a media de like por hora do post

facebook.groupby("Post Hour")["like","comment","share"].mean()

<ipython-input-21-5d8feb6b56d0>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  facebook.groupby("Post Hour")["like","comment","share"].mean()

                 like    comment      share
Post Hour
1          146.500000   6.500000  28.000000
2          155.666667   8.051282  27.384615
3          192.638095   6.247619  29.704762
4          137.571429   6.771429  23.742857
5          569.923077  32.076923  82.307692
6          132.750000   3.312500  22.466667
7          127.923077   2.307692  18.230769
8           79.454545   2.916667  15.818182
9          113.500000   3.466667  16.689655
10         212.179487   9.012821  30.103896
11         117.840909   4.840909  23.522727
12         151.551724   9.586207  18.344828
13         203.961538   9.192308  31.865385
14         267.230769  10.000000  29.923077
15          53.166667   2.666667   6.833333
16          65.000000   0.000000  19.000000
17         142.666667   5.333333   9.333333
18          49.000000   2.666667   3.333333
19           2.000000   0.000000   0.000000
20         235.000000  11.000000  34.000000
22         102.000000  14.000000   9.000000
23         113.000000   2.000000  20.000000

In [22]:
# Ou uma visao mais completa com o método describe()
facebook.groupby("Post Hour")["like"].describe()

,count,mean,std,min,25%,50%,75%,max
Post Hour,,,,,,,,
1,4.0,146.500000,128.053374,36.0,57.00,115.5,205.00,319.0
2,39.0,155.666667,190.938173,0.0,53.00,99.0,178.50,859.0
3,105.0,192.638095,223.246592,29.0,69.00,113.0,204.00,1505.0
4,35.0,137.571429,165.888213,0.0,51.00,101.0,164.50,955.0
5,13.0,569.923077,1398.569952,7.0,67.00,98.0,226.00,5172.0
6,16.0,132.750000,132.162778,7.0,44.75,89.0,152.50,484.0
7,13.0,127.923077,114.295277,3.0,54.00,87.0,140.00,400.0
8,11.0,79.454545,62.410518,1.0,33.50,64.0,131.00,188.0
9,30.0,113.500000,93.966520,0.0,47.25,89.0,178.25,363.0
10,78.0,212.179487,315.443236,0.0,63.75,113.0,225.25,1622.0
11,44.0,117.840909,92.237545,7.0,51.75,100.0,167.50,412.0
12,29.0,151.551724,180.581320,3.0,40.00,73.0,199.00,678.0
13,52.0,203.961538,312.258752,4.0,62.50,127.5,194.75,1639.0
14,13.0,267.230769,529.272953,6.0,72.00,95.0,176.00,1998.0
15,6.0,53.166667,70.666588,2.0,6.00,20.0,77.50,179.0
16,1.0,65.000000,NaN,65.0,65.00,65.0,65.00,65.0
17,3.0,142.666667,120.093020,4.0,107.50,211.0,212.00,213.0
18,3.0,49.000000,53.563047,6.0,19.00,32.0,70.50,109.0
19,1.0,2.000000,NaN,2.0,2.00,2.0,2.00,2.0
20,1.0,235.000000,NaN,235.0,235.00,235.0,235.00,235.0
22,1.0,102.000000,NaN,102.0,102.00,102.0,102.00,102.0
23,1.0,113.000000,NaN,113.0,113.00,113.0,113.00,113.0

In [23]:
# E também pode agrupar por mais de uma variavel

# O método unstack (desemplilhar) deixa a visualizaçao mais agradavel

facebook.groupby(["Post Hour","Type"])["like"].mean().unstack()

Type             Link       Photo      Status       Video
Post Hour
1                 NaN  146.500000         NaN         NaN
2           22.000000  161.733333  266.500000   65.000000
3          102.333333  196.202247  189.111111  449.000000
4           47.333333  145.884615  146.666667         NaN
5                 NaN  569.923077         NaN         NaN
6          205.500000  101.250000  249.000000         NaN
7           38.000000  136.000000  129.000000         NaN
8                 NaN   79.454545         NaN         NaN
9                 NaN  105.185185  188.333333         NaN
10          24.000000  225.353846  150.900000  345.000000
11          76.000000   98.352941  226.400000  185.666667
12                NaN  153.407407  126.500000         NaN
13         114.000000  207.959184   98.000000  204.000000
14           6.000000  306.636364   95.000000         NaN
15                NaN   58.800000   25.000000         NaN
16                NaN   65.000000         NaN         NaN
17                NaN  142.666667         NaN         NaN
18                NaN   49.000000         NaN         NaN
19                NaN    2.000000         NaN         NaN
20                NaN  235.000000         NaN         NaN
22                NaN  102.000000         NaN         NaN
23                NaN  113.000000         NaN         NaN

In [24]:
# Os valores missing podem ser um problema
# Entao podemos chamar o método fillna também junto com o groupby

# Lembramdo que estas operaçoes pode ser armazenadas em uma variavel!!!!

post_hours = facebook.groupby(["Post Hour","Type"])["like"].mean().unstack().fillna("Vazio")

In [25]:
# E viram um dataframe qualquer que podem ser usados para outros fins!
post_hours

Type          Link       Photo   Status    Video
Post Hour
1            Vazio  146.500000    Vazio    Vazio
2               22  161.733333    266.5       65
3          102.333  196.202247  189.111      449
4          47.3333  145.884615  146.667    Vazio
5            Vazio  569.923077    Vazio    Vazio
6            205.5  101.250000      249    Vazio
7               38  136.000000      129    Vazio
8            Vazio   79.454545    Vazio    Vazio
9            Vazio  105.185185  188.333    Vazio
10              24  225.353846    150.9      345
11              76   98.352941    226.4  185.667
12           Vazio  153.407407    126.5    Vazio
13             114  207.959184       98      204
14               6  306.636364       95    Vazio
15           Vazio   58.800000       25    Vazio
16           Vazio   65.000000    Vazio    Vazio
17           Vazio  142.666667    Vazio    Vazio
18           Vazio   49.000000    Vazio    Vazio
19           Vazio    2.000000    Vazio    Vazio
20           Vazio  235.000000    Vazio    Vazio
22           Vazio  102.000000    Vazio    Vazio
23           Vazio  113.000000    Vazio    Vazio

_______________________________________

### Filtrando dados junto com o group by

In [26]:
# Vamos supor que precisamos apenas dos registros que tenho o numero de likes menos que a média
# Porém, nao filtrando da média total, mas da média por grupo

round(facebook["like"].mean())

178

In [27]:
facebook.groupby("Type")["like"].mean()

Type
Link       73.318182
Photo     182.611765
Status    176.711111
Video     231.428571
Name: like, dtype: float64

In [28]:
# Quando o codigo abaixo é executado, ele vai apenas retornar os registros dos grupos nos quais
# as respectivas médias (média do grupo) sao menores do que o valor inserido

def filtro(x):
    return x["like"].mean() < 178

facebook.groupby("Type").filter(filtro)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
481,86491,Link,1,1,4,4,1.0,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137

In [29]:
facebook.groupby("Type").filter(filtro).shape

(67, 19)

In [30]:
# Repare que 67 é a soma de 22 com 45 dos tipos Link e Status
facebook.groupby("Type").count()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Type,,,,,,,,,,,,,,,,,,
Link,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
Photo,426,426,426,426,426,425,426,426,426,426,426,426,426,426,426,425,422,426
Status,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45
Video,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7

_______________________________________

### O método aggregate

In [31]:
# Agora, vamos agrupar e descrever os dados utilizando mais de uma funçao de agregaçao

facebook.groupby("Type").aggregate(["min", "max", "mean"])

       Page total likes                        Category                \
                    min     max           mean      min max      mean
Type
Link              85979  138895  116363.181818        1   3  1.136364
Photo             81370  139441  122354.171362        1   3  1.917840
Status           104070  139441  132647.044444        1   3  2.022222
Video            126424  138895  135014.857143        1   1  1.000000

       Post Month               Post Weekday  ...    comment  like          \
              min max      mean          min  ...       mean   min     max
Type                                          ...
Link            1  12  6.590909            1  ...   2.818182   5.0   379.0
Photo           1  12  6.805164            1  ...   7.492958   0.0  5172.0
Status          3  12  9.066667            1  ...   8.911111  13.0   859.0
Video           6  12  9.571429            2  ...  12.285714  65.0   449.0

                   share                   Total Interactions        \
              mean   min    max       mean                min   max
Type
Link     73.318182   0.0   44.0  12.909091                  6   420
Photo   182.611765   0.0  790.0  27.158768                  0  6334
Status  176.711111   1.0  123.0  31.422222                 17  1009
Video   231.428571  13.0  121.0  52.142857                 81   550


              mean
Type
Link     89.045455
Photo   216.579812
Status  217.044444
Video   295.857143

[4 rows x 54 columns]

In [32]:
facebook.groupby("Type")["like","share"].aggregate(["min", "max", "mean","var"])

<ipython-input-32-f262ae41e9f1>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  facebook.groupby("Type")["like","share"].aggregate(["min", "max", "mean","var"])

        like                                    share                    \
         min     max        mean            var   min    max       mean
Type
Link     5.0   379.0   73.318182    7352.417749   0.0   44.0  12.909091
Photo    0.0  5172.0  182.611765  119194.271088   0.0  790.0  27.158768
Status  13.0   859.0  176.711111   22732.346465   1.0  123.0  31.422222
Video   65.0   449.0  231.428571   20171.285714  13.0  121.0  52.142857


                var
Type
Link     138.086580
Photo   2017.777583
Status   589.158586
Video   1818.476190

In [33]:
# Mais flexivel ainda, podemos escolher o tipo de operaçao por coluna

facebook.groupby("Type").aggregate({"comment" : "mean"
                                   , "like" : "max"
                                   , "share" : "sum"})

          comment    like    share
Type
Link     2.818182   379.0    284.0
Photo    7.492958  5172.0  11461.0
Status   8.911111   859.0   1414.0
Video   12.285714   449.0    365.0

_______________________________________

### O método transform

In [34]:
# Ele é utilizado nao para descrever a base, mas sim para realizar calculos com o valores agrupados

# O codigo a seguir retorna cada registro (linha) e cada campo (variavel/coluna) subtraido pela media
# do respectivo grupo Post Hour

facebook.groupby("Post Hour").transform(lambda x: x - x.mean())

,Page total likes,Category,Post Month,Post Weekday,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,12397.771429,-0.076190,3.923810,-0.028571,-0.304762,-10888.161905,-21566.219048,-653.438095,-583.238095,-1104.619048,-9281.457143,-4363.476190,-440.942857,-2.247619,-113.638095,-12.704762,-128.590476
1,9651.282051,0.153846,3.410256,-1.500000,-0.230769,-5295.423077,-13341.461538,459.410256,517.153846,335.179487,-5316.987179,-1520.102564,393.384615,-4.012821,-82.179487,-1.103896,-86.910256
2,12397.771429,0.923810,3.923810,-1.028571,-0.304762,-11227.161905,-22284.219048,-654.438095,-579.238095,-1109.619048,-9547.457143,-4500.476190,-427.942857,-6.247619,-126.638095,-15.704762,-148.590476
3,9651.282051,0.153846,3.410256,-2.500000,0.769231,34372.576923,55592.538462,1213.410256,-53.846154,-219.820513,44000.012821,24415.897436,671.384615,48.987179,1359.820513,116.896104,1526.089744
4,12397.771429,-0.076190,3.923810,-2.028571,-0.304762,-6396.161905,-13063.219048,-160.438095,-282.238095,-683.619048,-6131.457143,-2803.476190,-163.942857,12.752381,132.361905,19.295238,164.409524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-35569.615385,1.051282,-5.692308,3.358974,-0.358974,-11310.692308,-27568.230769,-385.358974,-314.794872,-594.974359,-6931.871795,-3166.589744,-224.794872,-3.051282,-102.666667,-1.384615,-107.102564
496,-42151.250000,0.333333,-5.750000,0.333333,-0.166667,263.166667,801.416667,118.333333,133.416667,152.000000,311.500000,111.500000,2.500000,-2.916667,-26.454545,6.181818,-15.250000
497,-39292.615385,-0.948718,-5.692308,1.358974,-0.358974,-12216.692308,-27888.230769,-493.358974,-450.794872,-784.974359,-6939.871795,-3654.589744,-253.794872,-4.051282,-62.666667,-9.384615,-76.102564
498,-47547.500000,1.386364,-7.363636,-0.204545,-0.250000,-3972.886364,-5261.386364,-161.636364,-140.522727,-427.545455,-3841.681818,-1958.522727,-174.363636,2.159091,-26.840909,14.477273,-10.204545
499,-39374.600000,0.142857,-5.428571,-0.314286,NaN,-8172.542857,-12162.428571,-328.485714,-287.971429,-499.771429,-8060.742857,-4029.457143,-302.600000,-6.771429,-46.571429,4.257143,-49.085714