In [1]:
import pandas as pd

In [2]:
pd.read_excel?

In [3]:
df = pd.read_excel('E:\\Google Drive\\PROGRAMAÇÃO\\curso-python\\curso-leandroguerra\\base de dados\\brutal-pedidos.xlsx')

In [5]:
df.columns

Index(['Cód. Pedido', 'Cliente', 'Telefone', 'Colaborador ', 'Tipo', 'Origem',
       'Aberto Em', 'Finalizado Em', '+ Total Itens', '+ Serviço', '+ Entrega',
       '- Desconto', '= Total a Receber', 'Total Recebido', 'Status', 'Abrir'],
      dtype='object')

In [6]:
df.head()

,Cód. Pedido,Cliente,Telefone,Colaborador,Tipo,Origem,Aberto Em,Finalizado Em,+ Total Itens,+ Serviço,+ Entrega,- Desconto,= Total a Receber,Total Recebido,Status,Abrir
0,3860,Stephano Dias,(61) 99575-7786,Victor,Delivery,Desktop,2020-09-17 23:00:29.988,2020-09-17 23:00:59.615,8.0,0,0,0,8.0,8.0,Finalizado/Pago,NaN
1,3859,Paulo,(61) 98169-3233,Victor,Delivery,Desktop,2020-09-17 22:17:19.771,2020-09-17 22:46:16.324,28.0,0,5,0,33.0,33.0,Finalizado/Pago,NaN
2,3858,"Andre Augusto, o lindo",(61) 99910-6801,Victor,Delivery,Desktop,2020-09-17 21:24:50.721,2020-09-17 21:25:29.358,10.0,0,0,0,10.0,NaN,Finalizado/Fiado,NaN
3,3857,Claudio Roberto,(61) 98543-5215,Victor,Delivery,MenuDino App/Site,2020-09-17 21:12:13.240,2020-09-17 21:45:56.252,105.0,0,5,0,110.0,110.0,Finalizado/Pago,NaN
4,3856,Luana Raphaela Sousa Campos,(61) 98662-3212,Victor,Delivery,MenuDino App/Site,2020-09-17 20:44:56.693,2020-09-17 21:22:26.737,45.0,0,5,0,50.0,50.0,Finalizado/Pago,NaN

Leozinho, querido, me ajuda aqui?

Eu vou escolher uma data base, da coluna 'Finalizado Em', e buscar uma informação: Qual o cliente realizou um pedido anterior a essa data e não pediu posteriormente?

Pois bem, eu entendo que tenho que converter as datas abaixo para um formato padrão, exemplo ´´´17/09/2020´´´ e conseguir fazer esse tipo de condicional supracitado.

As dúvidas são: 
1 - Como faço a conversão das datas em um formato padrão (17/09/2020)?
2 - Com o formato padrão definido, é possível fazer esse tipo de condicional?
3 - Realmente esse é o melhor caminho para resolver esse problema supracitado?

Bjus no coração.

In [9]:
df['Finalizado Em'].head()

0   2020-09-17 23:00:59.615
1   2020-09-17 22:46:16.324
2   2020-09-17 21:25:29.358
3   2020-09-17 21:45:56.252
4   2020-09-17 21:22:26.737
Name: Finalizado Em, dtype: datetime64[ns]

In [57]:
df[['Finalizado Em', 'Tipo']].head()

            Finalizado Em          Tipo
0 2020-09-17 23:00:59.615  Delivery
1 2020-09-17 22:46:16.324  Delivery
2 2020-09-17 21:25:29.358  Delivery
3 2020-09-17 21:45:56.252  Delivery
4 2020-09-17 21:22:26.737  Delivery

In [65]:
df['Finalizado Em'] < '2020-09-02'

0      False
1      False
2      False
3      False
4      False
       ...
260     True
261     True
262     True
263     True
264     True
Name: Finalizado Em, Length: 265, dtype: bool

In [11]:
datas = df['Finalizado Em']
datas.head()

0   2020-09-17 23:00:59.615
1   2020-09-17 22:46:16.324
2   2020-09-17 21:25:29.358
3   2020-09-17 21:45:56.252
4   2020-09-17 21:22:26.737
Name: Finalizado Em, dtype: datetime64[ns]

In [14]:
datas[0]

Timestamp('2020-09-17 23:00:59.615000')

In [31]:
import datetime

In [32]:
date_time_str = '29-06-2018 08:15:27.243860'
date_time_obj = datetime.datetime.strptime(date_time_str, '%d-%m-%Y %H:%M:%S.%f')

print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2018-06-29
Time: 08:15:27.243860
Date-time: 2018-06-29 08:15:27.243860

In [33]:
type(date_time_obj)

datetime.datetime

In [34]:
from datetime import datetime

In [37]:
date = datetime.fromtimestamp(datas[0])

TypeError: an integer is required (got type Timestamp)

In [38]:
datas

0     2020-09-17 23:00:59.615
1     2020-09-17 22:46:16.324
2     2020-09-17 21:25:29.358
3     2020-09-17 21:45:56.252
4     2020-09-17 21:22:26.737
                ...
260   2020-09-01 20:13:22.605
261   2020-09-01 19:04:30.257
262   2020-09-01 19:28:04.816
263   2020-09-01 19:45:09.492
264   2020-09-01 19:05:55.511
Name: Finalizado Em, Length: 265, dtype: datetime64[ns]

In [41]:
datas2 = datas < '2020-09-02'

0      False
1      False
2      False
3      False
4      False
       ...
260     True
261     True
262     True
263     True
264     True
Name: Finalizado Em, Length: 265, dtype: bool

In [44]:
datas2 = datas[datas < '2020-09-02']
datas2

254   2020-09-01 22:48:44.848
255   2020-09-01 22:08:05.330
256   2020-09-01 21:42:08.639
257   2020-09-01 21:09:48.281
258   2020-09-01 20:32:59.676
259   2020-09-01 20:07:48.318
260   2020-09-01 20:13:22.605
261   2020-09-01 19:04:30.257
262   2020-09-01 19:28:04.816
263   2020-09-01 19:45:09.492
264   2020-09-01 19:05:55.511
Name: Finalizado Em, dtype: datetime64[ns]

In [46]:
datas2.shape

(11,)

In [47]:
datas2.index

Int64Index([254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264], dtype='int64')

In [48]:
datas2[261]

Timestamp('2020-09-01 19:04:30.257000')